{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Charts" %}{% endblock %}

{% block main %}

    <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/rickshaw.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css">
    <script src="{{ STATIC_URL }}dashboard/js/d3.min.js"></script>
    <script src="{{ STATIC_URL }}dashboard/js/d3.layout.min.js"></script>
    <script src="{{ STATIC_URL }}dashboard/js/rickshaw.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <style>
    #chart-container {
            position: relative;
            display: inline-block;
            font-family: Arial, Helvetica, sans-serif;
    }
    #chart-container .left, #chart-container .right{
        width: auto !important;
        float: none !important;
    }
    #chart {
            display: inline-block;
            margin-left: 40px;
    }
    .rickshaw_graph .x_tick .title {
        bottom: -24px;
        left: -18px;
    }
    .rickshaw_graph .x_ticks_d3 .tick {
        bottom: -24px;
        left: -18px;
    }
    #y-axis {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 40px;
    }
    #legend {
            display: inline-block;
            vertical-align: top;
            margin: 0 0 0 10px;
            background: white;
            color: #404040;
    }
    #chartBtns{
      display: inline-block;
      vertical-align: top;
      margin: 0 0 0 10px;
    }
    .chartBtn{
      margin: 5px;
      display: block;
      width: 100px;
    }
    </style>

    <script>
        var data = {{json_result}};
    </script>

    <script>
    document.addEventListener('DOMContentLoaded', function(){
      var palette = new Rickshaw.Color.Palette();
      var legend, yAxis, xAxis, hoverDetail;
      var series = [];
      for(key in data){
          series.push({
              name: key,
              color: palette.color()
          });
      }
      var a = $('#chart_name').html();
      var index = a.indexOf(" - ");
      var host = a.slice(0, index);
      var service = a.slice(index+3);
      var ajaxurl = "{% url 'horizon:apps:monitoring.status:chartr' %}"  + host + ':' + service + ':-1h:300';
      var graph = new Rickshaw.Graph.Ajax( {
      	element: document.querySelector("#chart"),
        width: 700,
        height: 300,
        series: series,
        renderer: 'area',
        stroke: true,
        preserve: true,
      	dataURL: ajaxurl,
        onData: function(d) {
          var res = [], i = 0;
          for(key in d){
              res.push({
                  name: key,
                  data: d[key],
                  color: series[i]['color']
              });
              i++;
          }
          return res;
        },
      	onComplete: function(transport) {
      		var graph = transport.graph;
      		if(!hoverDetail){
      				hoverDetail = new Rickshaw.Graph.HoverDetail( {
      						graph: graph,
                  xFormatter: function(x) {
                		return new Date(x * 1000).toString();
                	}
      				} );
      			}
      		if(!yAxis){
      			yAxis = new Rickshaw.Graph.Axis.Y({
              graph: graph,
              orientation: 'left',
              tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
              element: document.querySelector('#y-axis'),
      			});
      			yAxis.render();
      		}
      		if(!legend){
      			legend = new Rickshaw.Graph.Legend( {
              element: document.querySelector('#legend'),
              graph: graph
      			} );
      			var shelving = new Rickshaw.Graph.Behavior.Series.Toggle( {
      				graph: graph,
      				legend: legend
      			} );
      		}
      		if(!xAxis){
      			xAxis = new Rickshaw.Graph.Axis.Time( {
      				graph: graph,
              timeFixture: new Rickshaw.Fixtures.Time.Local()
      			} );
      			xAxis.render();
      		}
      	}
      } );
      $('.chartBtn').click(function(){
          var start = $(this).val();
          var interval =  $(this).attr('value1');
          ajaxurl = "{% url 'horizon:apps:monitoring.status:chartr' %}"  + host + ':' + service + ':' + start + ':' + interval;
          graph.dataURL = ajaxurl;
          graph.request();

      });
    });
    </script>
    <h2 id='chart_name' style="margin-top: 0; margin-bottom: 20px">{{chart_name}}</h2>
    <div id="chart-container">
        <div id="y-axis"></div>
        <div id="chart"></div>
    </div>
    <div id="legend"></div>
    <div id="chartBtns">
      <button class='btn btn-primary bt-sm chartBtn' value="-1h" value1="300">Last hour</button>
      <button class='btn btn-primary bt-sm chartBtn' value="-5h" value1="1500">Last 5 hours</button>
      <button class='btn btn-primary bt-sm chartBtn' value="-1d" value1="7200">Last day</button>
      <button class='btn btn-primary bt-sm chartBtn' value="-7d" value1="86400">Last week</button>
      <button class='btn btn-primary bt-sm chartBtn' value="-1m" value1="86400">Last month</button>
    </div>
{% endblock %}
