{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}
{% block form_action %}{% url 'horizon:apps:activedir.users:edit_user' username%}{% endblock %}
{% block modal-header %}{% trans "Viewing " %}{{ username }}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Edit user" %}" />
  <a href="{% url 'horizon:apps:activedir.users:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
