{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Backup" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Backup") %}
{% endblock page_header %}

{% block main %}
<p>The backup application, uses BackupPC for disk-to-disk incremental backup, of all of the VapourApps virtual appliances which are running and can be seen in Apps / Backup / Manage backups.
Once VapourApps applications are enabled through the Overview dashboard, predefined backup paths are configured on the Backup application, so no additional configuration is required from the user to perform a daily backup of the configuration and data.</p>
<p>
Also through the Manage backups panel, external servers can be added with their paths. It is required for those servers to have salt-minion installed and joined to the salt-master. All servers which are part of the inventory (are joined on the corporate salt-stack) will be listed in the <b>Manage backups</b> panel. After that is configured, adding a backup can be done through the <b>Add backup</b> control, for a particular server.
</p>
<p>Once a week, regular full backup is performed on the defined folders and only incremental backup is performed on a daily basis.</p>
<p>
The configuration of the backuppc can be found in <code>/etc/backuppc</code>, on the backuppc instance. Direct access to the backuppc web dashboard can be found at: <a href = 'http://{{backuppc_ip}}'> http://{{backuppc_ip}}</a>. From there, restoring of the particular files/folders can be performed, in two different ways:
<ul>
<li>- Direct restore to the location where the backup was initially made;</li>
<li>- Download the desired files as a zip or a tar archive.</li>
</ul>
<br>
More documentation on BackupPC can be found at: <a href = 'http://backuppc.sourceforge.net/faq/BackupPC.html'>http://backuppc.sourceforge.net/faq/BackupPC.html</a> 

{% endblock %}


