{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Instance Overview" %}{% endblock %}

{% block main %}
{% if errors %}
  <div class = "vaps-error-section">
  There were errors while attempting to display a page.</br>
    <div class = "vapps-error">
        {% for error in  errors %}
          {{ error }} </br>
        {% endfor %}
    </div>
    <hr>
  </div>
{% endif %}
<hr>
<h3 class="quota-heading">VapourApps instances</h3></br>
<div class="vapps-wrapper">
    {% for app in vapourapps %}
    <div class="app-block">
        <div class="left-section">
            <i class="fa {{app.icon_class}}"></i>
        </div>
        <div class="right-section">
            <h2>{{app.name}}</h2>           
            Status :
           <font color="{% if app.status = 'running' %} green {% else %} blue {% endif %}"> {{ app.status }}</font> <br/>
           <a href = {% url 'horizon:apps:monitoring.status:index' %}>
              <font color="{% if app.warnings = 'None' %} green {% elif 'critical' in app.warnings %} red {% else %} blue {% endif %}">
                  Errors:  {{ app.warnings }} <br/>
              </font>
          </a>
            IP Address : <font color="blue">{{ app.ip_address }}</font> <br/>
        </div>
        <div class="clearfix"></div>
            <div class="button-section">
                    <a class="btn btn-primary bt-sm" id = "toggle_auth" {% if app.status == 'not found' %}{% if app.name == 'Directory' %} href = "{{ app.name }}/enable" {% else %}data-toggle = "modal" href="#toggle_auth_modal_{{app.name}}"{% endif %}{% else %}href = "{{app.name}}/restart"{% endif %} {{app.disabled}} >
                    {% if app.status == 'not found' %}Enable{% else %}Restart{% endif %}
                    </a>
                {% if not app.status == 'not found' %}
                  <a class="btn btn-primary bt-sm" id = "toggle_auth" href="{{app.name}}{% if app.status == 'running' %}/suspend{% else %}/resume{% endif %}" >
                        {% if app.status == 'running' %}Suspend{% else %}Resume{% endif %}
                  </a>
                {% endif %}
                {% if app.status == 'not found' %}
                    {% include "project/myoverview/toggle_auth.html" with form_action=app.name %}
                {% endif %}
            </div>
    </div>
    {% endfor %}
    <div class="clearfix"></div>
</div>

<style>
.vapps-wrapper .app-block{
    margin-top: 10px;
    width: 25%;
    float: left;
}
.vapps-wrapper .app-block .left-section{
    float: left;
    width: 38px;
}
.vapps-wrapper .app-block .left-section .fa{
    font-size: 32px;
}
.vapps-wrapper .app-block .right-section{
    float: left;
    margin-left:5px;
}
.vapps-wrapper .app-block .right-section h2{
    margin: 0px;
}
.vapps-wrapper .app-block .button-section{
    margin-top: 10px;
}

.vapps-error{
    color: red;
    font-size: 20px;
}

.vaps-error-section{
    background-color: #ffcccc;
}

/*Limit summary header css. */
.quota-heading{
    font-size: 32px;  
}

.primary_button .button_popup{
    display: none;
}

.primary_button:hover .button_popup{
    display: block;
}
</style>
<hr>
  {% include "horizon/common/_limit_summary.html" %}

  {% if simple_tenant_usage_enabled %}
    <hr>
    {% include "horizon/common/_usage_summary.html" %}
    {{ table.render }}
  {% endif %}
{% endblock %}
