{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "E-mail panel" %}{% endblock %}
{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Owncloud") %}
{% endblock page_header %}
{% block main %}
    Visit the <a href = {% url "horizon:apps_help:vap_email:index" %}> help page</a>.
  {% if email_table %}
      {{ email_table.render }}
  {% else %}
      <h4> Couldn't create the table. Is the e-mail server configured properly? </h4>
  {% endif %}
{% endblock %}
