{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "VPN Status" %}{% endblock %}
{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("VPN Status") %}
{% endblock page_header %}
{% block main %}
    For help visit the <a href = {% url "horizon:apps_help:vpn_panel:index" %}> help page</a>.
    {% if status != None  %}
          {{ status.render }}
    {% else %}
        <h4>Didn't get any data from salt. Is the salt-minion configured properly? </h4>
    {% endif %}
{% endblock %}
