{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Owncloud" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Owncloud") %}
{% endblock page_header %}

{% block main %}
OwnCloud is a cloud service for storing and sharing files, calendars, phonebooks. You can use it also as company internal chat platform or webmail client. </br> All of the functions are available from the OwnCloud web interface.</br></br>

{% if owncloud_ip %}
You can access the web version at <a href = "https://{{owncloud_ip}}" target = "_blank">https://{{owncloud_ip}}</a></br> 
{% endif %}
It is recommended to use secure HTTPS connection. Permanently accepting the certificate will preventing warnings for self-singed certifiactes.</br> 
You can upload and download files, share them with other users or clients. There is an editor/viewer for some common file types. Calendars, tasks and phonebooks can be also edited and shared.</br></br>
Another way to access ownCloud is with software for Desktop computers or smartphones.</br>

For managing files and syncing we suggest using the <a href = 'https://owncloud.org/install/#install-clients
'>offical client.</a>
<p></br>
An alternative for desktop computers is to use the built-in WebDAV support in the operating system. This way you do not keep a local copy of the files, but access is much slower.</br>
<br>On Windows this can be done with:
<div class = 'list-group-item'>
{% if owncloud_ip %}
    net use Q: \\{{owncloud_ip}}@SSL\remote.php\webdav /PERSISTENT:YES /user:.USER PASS</div><br> NOTE: a dot is required before username
{% else %}
    net use Q: \\va-owncloud@SSL\remote.php\webdav /PERSISTENT:YES /user:.USER PASS</div><br> NOTE: a dot is required before username
{% endif %}

</p>
<p>
    On Linux use your default file manager with the "Connect to server..." command. Select server type as "Secure WebDAV"
</p>
For calendars/phonebooks a software that support CalDAV and CardDAV is needed. You can use Thunderbird client with these two plugins: Inverse SOGo Connector and Lightning.</br>
For Android you can try "CardDAV" app for the phonebooks and "CalDav Sync Adapter" app for calendar integration. There is also "DAVdroid" that can be both contacts and calendar adapter. </br>
</p>
{% endblock %}


