{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "VPN users" %}{% endblock %}
{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("VPN users") %}
{% endblock page_header %}
{% block main %}
    For help visit the <a href = {% url "horizon:apps_help:vpn_panel:index" %}> help page</a>.
    {% if active_users and revoked_users %}
          <h2>
            Active users
          </h2>
          {{ active_users.render }}
          <h2>
            Revoked users
          </h2>
          {{ revoked_users.render }}
    {% else %}
        <h4>Didn't get any data from salt. If the salt minion configured properly? </h4>
    {% endif %}
{% endblock %}
